
<form (submit)="dogBreed($event)">
    <div class="table1">

    <div class="two">
        <select class="dogButton" name="input"  >

            <option value="Airedale Terrier">Airedale Terrier</option>
            <option value="Akita">Akita</option>
            <option value="Alaskan Malamute">Alaskan Malamute</option>
            <option value="American Bulldog">American Bulldog</option>
            <option value="American Bully (Standard)">American Bully (Standard)</option>
            <option value="American Eskimo Dog (Miniature)">American Eskimo Dog (Miniature)</option>
            <option value="American Eskimo Dog (Standard)">American Eskimo Dog (Standard)</option>
            <option value="Am. Staffordshire Terrier">Am. Staffordshire Terrier</option>
            <option value="American Pit Bull Terrier">American Pit Bull Terrier</option>
            <option value="Australian Cattle Dog (Heeler)">Australian Cattle Dog (Heeler)</option>
            <option value="Australian Kelpie">Australian Kelpie</option>
            <option value="Australian Shepherd">Australian Shepherd</option>
            <option value="Austrialian Terrier">Austrialian Terrier</option>
            <option value="Barbet">Barbet</option>
            <option value="Basenji">Basenji</option>
            <option value="Basset Hound">Basset Hound</option>
            <option value="Beagle">Beagle</option>
            <option value="Beauceron">Beauceron</option>
            <option value="Bedlington Terrier">Bedlington Terrier</option>
            <option value="Belgian Malinois">Belgian Malinois</option>
            <option value="Belgian Tervuren">Belgian Tervuren</option>
            <option value="Bernese Mountain Dog">Bernese Mountain Dog</option>
            <option value="Bichon Frise">Bichon Frise</option>
            <option value="Black and Tan Coonhound">Black and Tan Coonhound</option>
            <option value="Bloodhound">Bloodhound</option>
            <option value="Bluetick Coonhound">Bluetick Coonhound</option>
            <option value="Boerboel">Boerboel</option>
            <option value="Border Collie">Border Collie</option>
            <option value="Border Terrier">Border Terrier</option>
            <option value="Boston Terrier">Boston Terrier</option>
            <option value="Bouvier des Flandres">Bouvier des Flandres</option>
            <option value="Boxer">Boxer</option>
            <option value="Boykin Spaniel">Boykin Spaniel</option>
            <option value="Bracco Italiano">Bracco Italiano</option>
            <option value="Briard">Briard</option>
            <option value="Brittany">Brittany</option>
            <option value="Bull Terrier (Standard)">Bull Terrier (Standard)</option>
            <option value="Bull Terrier (Miniature)">Bull Terrier (Miniature)</option>
            <option value="Bulldog">Bulldog</option>
            <option value="Bullmastiff">Bullmastiff</option>
            <option value="Cairn Terrier">Cairn Terrier</option>
            <option value="Cane Corso">Cane Corso</option>
            <option value="Cardigan Welsh Corgi">Cardigan Welsh Corgi</option>
            <option value="Catahoula Leopard Dog">Catahoula Leopard Dog</option>
            <option value="Caucasian Shepherd (Ovcharka)">Caucasian Shepherd (Ovcharka)</option>
            <option value="Cavalier King Charles Spaniel">Cavalier King Charles Spaniel</option>
            <option value="Chesapeake Bay Retriever">Chesapeake Bay Retriever</option>
            <option value="Chihuahua (Long hair)">Chihuahua (Long hair)</option>
            <option value="Chihuahua (Smooth)">Chihuahua (Smooth)</option>
            <option value="Chinese Crested">Chinese Crested</option>
            <option value="Chinese Shar-Pei">Chinese Shar-Pei</option>
            <option value="Chinook">Chinook</option>
            <option value="Chow Chow">Chow Chow</option>
            <option value="Clumber Spaniel">Clumber Spaniel</option>
            <option value="Cocker Spaniel (American)">Cocker Spaniel (American)</option>
            <option value="Cocker Spaniel (English)">Cocker Spaniel (English)</option>
            <option value="Collie (Smooth)">Collie (Smooth)</option>
            <option value="Collie (Rough)">Collie (Rough)</option>
            <option value="Coton De Tulear">Coton De Tulear</option>
            <option value="Dachshund (smooth)">Dachshund (smooth)</option>
            <option value="Dachshund (wire/long haired)">Dachshund (wire/long haired)</option>
            <option value="Dalmatian">Dalmatian</option>
            <option value="Doberman Pinscher">Doberman Pinscher</option>
            <option value="Dogo Argentino">Dogo Argentino</option>
            <option value="Dutch Shepherd">Dutch Shepherd</option>
            <option value="English Setter">English Setter</option>
            <option value="English Shepherd">English Shepherd</option>
            <option value="English Springer Spaniel">English Springer Spaniel</option>
            <option value="English Toy Spaniel">English Toy Spaniel</option>
            <option value="English Toy Terrier">English Toy Terrier</option>
            <option value="Eurasier">Eurasier</option>
            <option value="Field Spaniel">Field Spaniel</option>
            <option value="Finnish Lapphund">Finnish Lapphund</option>
            <option value="Finnish Spitz">Finnish Spitz</option>
            <option value="Flat Coat Retriever">Flat Coat Retriever</option>
            <option value="French Bulldog">French Bulldog</option>
            <option value="German Pinscher">German Pinscher</option>
            <option value="German Shepherd Dog">German Shepherd Dog</option>
            <option value="German Shorthaired Pointer">German Shorthaired Pointer</option>
            <option value="Giant Schnauzer">Giant Schnauzer</option>
            <option value="Glen of Imaal Terrier">Glen of Imaal Terrier</option>
            <option value="Golden Retriever">Golden Retriever</option>
            <option value="Gordon Setter">Gordon Setter</option>
            <option value="Great Dane">Great Dane</option>
            <option value="Great Pyrenees">Great Pyrenees</option>
            <option value="Greyhound">Greyhound</option>
            <option value="Harrier">Harrier</option>
            <option value="Havanese">Havanese</option>
            <option value="Irish Setter">Irish Setter</option>
            <option value="Irish Terrier">Irish Terrier</option>
            <option value="Irish Wolfhound">Irish Wolfhound</option>
            <option value="Italian Greyhound">Italian Greyhound</option>
            <option value="Japanese Chin">Japanese Chin</option>
            <option value="Japanese Spitz">Japanese Spitz</option>
            <option value="Keeshond">Keeshond</option>
            <option value="Komondor">Komondor</option>
            <option value="Kooikerhondje">Kooikerhondje</option>
            <option value="Kuvasz">Kuvasz</option>
            <option value="Labrador Retriever">Labrador Retriever</option>
            <option value="Lagotto Romagnolo">Lagotto Romagnolo</option>
            <option value="Lancashire Heeler">Lancashire Heeler</option>
            <option value="Leonberger">Leonberger</option>
            <option value="Lhasa Apso">Lhasa Apso</option>
            <option value="Maltese">Maltese</option>
            <option value="Miniature American Shepherd">Miniature American Shepherd</option>
            <option value="Miniature Pinscher">Miniature Pinscher</option>
            <option value="Miniature Schnauzer">Miniature Schnauzer</option>
            <option value="Newfoundland">Newfoundland</option>
            <option value="Norfolk Terrier">Norfolk Terrier</option>
            <option value="Norwich Terrier">Norwich Terrier</option>
            <option value="Nova Scotia Duck Tolling Retriever">Nova Scotia Duck Tolling Retriever</option>
            <option value="Olde English Bulldogge">Olde English Bulldogge</option>
            <option value="Old English Sheepdog">Old English Sheepdog</option>
            <option value="Papillon">Papillon</option>
            <option value="Parson Russell Terrier">Parson Russell Terrier</option>
            <option value="Patterdale Terrier (Smooth or Broken)">Patterdale Terrier (Smooth or Broken)</option>
            <option value="Patterdale Terrier (Rough)">Patterdale Terrier (Rough)</option>
            <option value="Pekingese">Pekingese</option>
            <option value="Pembroke Welsh Corgi">Pembroke Welsh Corgi</option>
            <option value="Pharaoh Hound">Pharaoh Hound</option>
            <option value="Plott">Plott</option>
            <option value="Pointer (English)">Pointer (English)</option>
            <option value="Pomeranian">Pomeranian</option>
            <option value="Poodle (Miniature)">Poodle (Miniature)</option>
            <option value="Poodle (Standard)">Poodle (Standard)</option>
            <option value="Poodle (Toy)">Poodle (Toy)</option>
            <option value="Portugese Water Dog">Portugese Water Dog</option>
            <option value="Presa Canario">Presa Canario</option>
            <option value="Pug">Pug</option>
            <option value="Puli">Puli</option>
            <option value="Pumi">Pumi</option>
            <option value="Rat Terrier">Rat Terrier</option>
            <option value="Redbone Coonhound">Redbone Coonhound</option>
            <option value="Rhodesian Ridgeback">Rhodesian Ridgeback</option>
            <option value="Rottweiler">Rottweiler</option>
            <option value="Russian Toy">Russian Toy</option>
            <option value="Saluki">Saluki</option>
            <option value="Samoyed">Samoyed</option>
            <option value="Schipperke">Schipperke</option>
            <option value="Scottish Deerhound">Scottish Deerhound</option>
            <option value="Scottish Terrier">Scottish Terrier</option>
            <option value="Shetland Sheepdog (Sheltie)">Shetland Sheepdog (Sheltie)</option>
            <option value="Shiba Inu">Shiba Inu</option>
            <option value="Shih Tzu">Shih Tzu</option>
            <option value="Shiloh Shepherd">Shiloh Shepherd</option>
            <option value="Siberian Husky">Siberian Husky</option>
            <option value="Silky Terrier">Silky Terrier</option>
            <option value="Smooth Fox Terrier">Smooth Fox Terrier</option>
            <option value="Soft Coated Wheaten Terrier">Soft Coated Wheaten Terrier</option>
            <option value="Spanish Water Dog">Spanish Water Dog</option>
            <option value="Spinone Italiano">Spinone Italiano</option>
            <option value="St. Bernard">St. Bernard</option>
            <option value="Staffordshire Bull Terrier">Staffordshire Bull Terrier</option>
            <option value="Standard Schnauzer">Standard Schnauzer</option>
            <option value="Swedish Vallhund ">Swedish Vallhund </option>
            <option value="Thai Ridgeback">Thai Ridgeback</option>
            <option value="Tibetan Mastiff">Tibetan Mastiff</option>
            <option value="Tibetan Spaniel">Tibetan Spaniel</option>
            <option value="Tibetan Terrier">Tibetan Terrier</option>
            <option value="Toy Fox Terrier">Toy Fox Terrier</option>
            <option value="Treeing Walker Coonhound">Treeing Walker Coonhound</option>
            <option value="Vizsla">Vizsla</option>
            <option value="Weimaraner">Weimaraner</option>
            <option value="Welsh Springer Spaniel">Welsh Springer Spaniel</option>
            <option value="West Highland White Terrier">West Highland White Terrier</option>
            <option value="Whippet">Whippet</option>
            <option value="White Shepherd">White Shepherd</option>
            <option value="Wire Fox Terrier">Wire Fox Terrier</option>
            <option value="Wirehaired Pointing Griffon">Wirehaired Pointing Griffon</option>
            <option value="Xoloitzcuintli">Xoloitzcuintli</option>
            <option value="Yorkshire Terrier">Yorkshire Terrier</option>

          </select>
    </div>
    
    <div class="two" > 
    <input class="dogButton" type="submit" value="🐾Search for Dog by Breed🐾">
  </div>
  </div>
  </form>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <div class="box"> -->
<div class="container">
  <div class="row">

    <div class="list" *ngFor="let dog of dog | paginate: { itemsPerPage: 9, currentPage: p }">

      <!-- <div class="box-part text-center">

          <p><img class=" img-fluid" src="{{dog.picture}}"
              alt="card image"></p>

          <div class="title">
            <h4>{{ dog.name }}</h4>
          </div>

          <div class="text">
            <span> {{dog.description}} </span>
          </div>

          <div class="text">
            <span> {{dog.age}} </span>
          </div>

          <div class="text">
              <span> {{dog.breed}} </span>
            </div>

          <a href="mailto:redRocket2019@outlook.com">Contact Info</a>
       
        </div>
        
      </div>

    

    -->

      <div id="list" class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
          <div class="frontside">
            <div class="card" id="card" >
              <img class="img" src="{{dog.picture}}"  onerror="this.src='../../assets/img/stock/dl_black.png'">
              <div class="card-body">
                <h4 class="card-title text-center">Name: {{ dog.name }}</h4>
                <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                <h4 class="card-title text-center">Breed: {{ dog.breed }}</h4>
                <h4 class="card-title text-center">Age: {{ dog.age }}</h4>
                
              </div>
            </div>
          </div>
          <div class="backside" >
            <div class="card"  id="card"    >

              <div class="text">
                <h2>About</h2>
                <p> {{dog.description}} </p>
              </div>
              <style>
                a:link {
                  color:rgb(87, 207, 255)
                }
                a:hover {
                  color: rgb(252, 0, 105)
                }
                a:active {
                  color:rgb(87, 207, 255)
                }
              </style>
              <div>
                  <div class="input3" >
                    <br>
                      <input id="{{dog.userId}}" (click)="profileTrue($event)" class="dogButton" type="submit" value="🐾Contact🐾">
              </div>

              <!-- <div class="card-header">
        This is a Header
        </div>
        <div class="card-body">
        <h4 class="card-title">Card Title</h4>
        <p class="card-text">This is a card component with header and footer.</p>
        <a href="#" class="btn btn-info btn-md">Info Button</a>
        </div>
        <div class="card-footer">
        This is a Footer
        </div> -->


            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<pagination-controls class="myPagination"
(pageChange)="p = $event" maxSize="4">
</pagination-controls>

<div class="modals"  *ngIf="profile" >
    <div class="headerProfile" > &nbsp;&nbsp; Profile</div>  <div class="closes" (click)="profileFalse($event)" > Close </div>

    <div class="profilePic" > 
      <img src="{{ Profile[0].picture }}" class="imgProfile" /> 
    </div>
    
    <div class="profileAbout" > 
      <p> Name: {{ Profile[0].name}}</p>
      <p> ID: {{ Profile[0].userId}}</p>
      <p> Age: {{ Profile[0].age}}</p>
    </div> 

    <div class="profileContact" > 
        <p> Email: {{ Profile[0].email}}</p>
        <p> Phone: {{ Profile[0].phone}}</p>
        <p> About: {{ Profile[0].about}}</p>
      </div> 

     

  </div>