
.homepage {
    background-image: url('../../assets/img/stock/bons-foot-prints-pattern-background.jpg') 
}

 .list {
    height: 70vh;
    width: 30%;
    margin: 17px;
    color: rgb(255, 255, 255);

}

#card{
    height: 65vh;
    background-color: rgb(90, 89, 89)
}

img{
    height: 30vh;
}



.image-flip:hover .backside, .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    }
     
    .image-flip:hover .frontside, .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    }
     
    .image-flip {
    margin-bottom:200px;
    width: 250px;
    height: 250px;
    
    }
     
    .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    }
     
    .frontside, .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    margin: 17px;
    
    }
     
    .frontside {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    
    box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.497), 0 1vw 2vw 0 rgba(0, 0, 0, 0.585);
    
    }
     
    .backside {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        background: rgb(83, 83, 83);
        box-shadow: 0 3vw 6vw 0 rgba(0, 0, 0, 0.497), 0 3vw 6vw 0 rgba(0, 0, 0, 0.585);
    }

    .modals{
        position: fixed;
        width: 35rem;
        height: 35rem;
        z-index: 15;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(255, 255, 255);
        box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
        border-radius: 2.5rem;
        border: solid black 5px
        
      }
    
      .headerProfile{
        width: 80%;
        float: left;
        display: table-cell;
        background-color:  rgba(104,154,153,1);
        color: white;
        font-size: 1.5rem;
        height: 3rem;
        border-radius: 2.2rem 0rem 0rem 0rem;
        
    
    }
    
    .closes{
        width: 20%;
        float: left;
        display: table-cell;
        background-color:  red;
        font-size: 1.5rem;
        height: 3rem;
        text-align: center;
        color: white;
        border-radius: 0 2.2rem 0rem 0rem;
    }

    .closes:hover{
        cursor: pointer;
        background-color:  rgba(255, 0, 0, 0.571);
    }
    
    .profilePic{
        width: 50%;
        float: left;
        display: table-cell;
        height: 17.5rem;
    }
    
    .imgProfile{
        width: 100%;
        height: 100%;
    }
    
    .profileAbout{
        width: 50%;
        float: left;
        display: table-cell;
        height: 17.5rem;
    }