

.table{
  display: table;
  width: 90%;
  left: 0;
  top: 0;
  margin-bottom: 4vh;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 4vh;
  
}

.table2{
  display: table;
  width: 90%;
  left: 0;
  top: 0;
  margin-bottom: 4vh;
  margin-left: 4vw;
  margin-right: 4vw;
  
}

.authHeader{
  float: left;
  display: table-cell;
  width: 100%;
  border: solid 0.3rem black;
  border-radius: 1rem;
  background: rgba(104,154,153,1);
  color: white;
  text-align: center;
  
}

.my-form{
    width: 43%;
    float: left;
    display: table-cell;
    border: solid 0.3rem black;
    border-radius: 1rem;
    background: white;
    margin-left: 5%;
  }


   
  .full-width {
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    .my-form{
      width: 86%;
      margin-bottom: 1rem;
     
    }
  }