.container-fluids{
    display: table;
    width: 100vw;
    left: 0;
    top: 0;
    padding: 0;
    color: rgba(104,154,153,1);
    height: 10vh;
    background-color:  rgb(83, 83, 83);
    
}

.two{
    width: 50%;
    float: left;
    display: table-cell;
    margin: 0px;
    padding: 0px;
    background-color: rgb(83, 83, 83);
    height: 10vh
}
.two2{
    width: 50%;
    float: left;
    display: table-cell;
    margin: 0px;
    padding: 0px; 
    
}

.four{
    width: 20%;
    float: left;
    display: table-cell;
    margin: 0px;
    padding: 0px;
    background-color: rgb(83, 83, 83);
    height: 10vh;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(104,154,153,1);
    
}

.four:hover{
    background-color: rgba(0, 0, 0, 0.537);
    cursor: pointer;
    
}

.logo{
    height: 10vh;
}
.nav-link{
    color: rgb(87,207, 255);
    font-size: 3vh;
    text-align: right
    
}

