

.table{
    display: table;
    width: 80%;
    left: 0;
    top: 0;
    margin-bottom: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
    box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.497);
    border-radius: 1rem;
}

#table{ 
    width: 10%;
}

.fourmHeader{
  float: left;
  display: table-cell;
  width: 100%;
  border: solid 0.3rem black;
  border-radius: 1rem;
  background: rgba(104,154,153,1);
  color: white;
  text-align: center;
  
}


.createPost{
    display: table;
    width: 80%;
    left: 0;
    top: 0;
    margin-bottom: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
}

.createPost:hover{
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgb(81, 80, 80);
}

.input1{
    width: 30%;
    float: left;
    display: table-cell;
    background-color:  rgba(104,154,153,1);
    font-size: 1.5rem;
    height: 2.7rem;
    text-align: center;
}

.input2{
    width: 70%;
    float: left;
    display: table-cell;
    background-color:  rgba( 144,145,137,1);
    color: white;
    font-size: 1.5rem;
    height: 2.7rem;
}
.input3{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.commentBox{
    height: 2.7rem;
    width: 100%;
    font-size: 1.5rem;
    
}

.three{
    width: 70%;
    float: left;
    display: table-cell;
    background-color:  rgba( 144,145,137,1);
    color: white;
    font-size: 1.5rem;
    height: 2.6rem;
    text-align: center;
    font-weight:bold;

}

.two{
    width: 30%;
    float: left;
    display: table-cell;
    background-color:  rgba(104,154,153,1);
    font-size: 1.5rem;
    height: 2.6rem;
    text-align: center;
}

.three:hover{
    background-color: rgb(79, 77, 77);
    cursor: pointer;
    
}


.animate-if {
    display: none;
  }
  
  .buttonDiv{
    width: 20%;
    float: left;
    display: table-cell;
  }

  

  @media only screen and (max-width: 1450px) {
    .three{
        width: 70%;
        font-size: 1.2rem;
    
    }

    .table{
        display: table;
        width: 90%;
        left: 0;
        top: 0;
        margin-bottom: 4vh;
        margin-left: 4vw;
        margin-right: 4vw;
        box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.497);
        border-radius: 1rem;
    }
  }

  @media only screen and (max-width: 1450px) {
    .two{

        font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1200px) {
    .two{

        font-size: 1.1rem;
  }

  .three{
    width: 70%;
    font-size: 1.1rem;

}
.commentBox{
    font-size: 1.2rem;
    
}
}

@media only screen and (max-width: 1000px) {
    .two{

        font-size: 0.9rem;
  }

  .three{
    width: 70%;
    font-size: 0.9rem;

}
.commentBox{
    font-size: 1rem;
    
}
}

@media only screen and (max-width: 800px) {
    label{
        font-size: 0.9rem;
    }
    .commentBox{
        font-size: 0.9rem;
        
    }

}