<h1>Dog Talk</h1>
<div class="table">
  <div class="fourmHeader">
    <h2>Welcome to the Fourm</h2>
  </div>
</div>

<div *ngIf="roleService.userRole">
  <form (submit)="createPost($event)">
    <div class="table">
      <div class="input1">
        <label>Create Your Topic</label>
      </div>

      <div class="input2">
        <textarea class="commentBox" placeholder="Your topic" required
          data-validation-required-message="Please leave a message" name="message" minlength=20 maxlength=80></textarea>
      </div>
    </div>
    <div class="input3">
      <input class="dogButton" type="submit" value="🐾Create Topic🐾">
    </div>
  </form>
</div>

<div class="table" *ngFor="let comment of comment | paginate: { itemsPerPage: 9, currentPage: p }">
  <div class="two">
    <p> Posted by: <b>{{comment.username}}</b></p>
  </div>

  <div id="{{comment.id}}" class="three" (click)="goTopic($event)">
    <p id="{{comment.id}}">{{ comment.description }}</p>
  </div>

  <div *ngIf="roleService.adminRole">
    <form (submit)="delete($event)">
      <div class="input">
        <input id="{{comment.id}}" type="submit" value="Delete">
      </div>
    </form>
    <!-- <form (submit)="update($event)">
      <div class="input">
        <input type="submit" value="Update">
      </div>
    </form> -->
  </div>

</div>
<pagination-controls class="myPagination" (pageChange)="p = $event" maxSize="4">
</pagination-controls>