

.table{
    display: table;
    width: 80%;
    left: 0;
    top: 0;
    margin-bottom: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
    
}

.createPost{
    width: 70%;
    float: left;
    display: table-cell;
    height: 30vh;
    margin: 3vw;
    margin-left: 4vw;
    margin-right: 4vw;
    padding: 1vh;
    border: solid 5px black
}

.createPost:hover{
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
}

.input1{
    width: 20%;
    float: left;
    display: table-cell;
    background-color:  rgba(104,154,153,1);
    font-size: 1.5rem;
    height: 10rem;
    text-align: center;
}

.input2{
    width: 80%;
    float: left;
    display: table-cell;
    background-color:  rgba( 144,145,137,1);
    color: white;
    font-size: 1.5rem;
    height: 10rem;
}
.input3{
    width: 90%;
    text-align: center;
    margin-bottom: 2rem;
}

.commentBox{
    height: 10rem;
    width: 100%;
    font-size: 1.5rem;
    
}

.three{
    width: 80%;
    float: left;
    display: table-cell;
    background-color:  rgba( 144,145,137,1);
    color: white;
    font-size: 1.5rem;
    height: 10rem;
    

}

.two{
    width: 20%;
    float: left;
    display: table-cell;
    background-color:  rgba(104,154,153,1);
    font-size: 1.5rem;
    height: 10rem;
    text-align: center;
}

.two:hover{
    background-color: rgba(0, 0, 0, 0.537);
    cursor: pointer;
    
}


.animate-if {
    display: none;
  }
  
  .buttonDiv{
    width: 20%;
    float: left;
    display: table-cell;
  }

  .modals{
    position: fixed;
    width: 35rem;
    height: 35rem;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
    border-radius: 2.5rem;
    border: solid black 5px
    
  }

  .headerProfile{
    width: 80%;
    float: left;
    display: table-cell;
    background-color:  rgba(104,154,153,1);
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    border-radius: 2.2rem 0rem 0rem 0rem;
    

}

.closes{
    width: 20%;
    float: left;
    display: table-cell;
    background-color:  red;
    font-size: 1.5rem;
    height: 3rem;
    text-align: center;
    color: white;
    border-radius: 0 2.2rem 0rem 0rem;
}

.profilePic{
    width: 50%;
    float: left;
    display: table-cell;
    height: 17.5rem;
}

.img{
    width: 100%;
    height: 100%;
}

.profileAbout{
    width: 50%;
    float: left;
    display: table-cell;
    height: 17.5rem;
}