.my-form{
    
    width: 100%;
  }

  .my-card{
    
    padding: 0.5rem;
  }
   
  .full-width {
    width: 100%;
  }

  .label1{
      width: 50%;
      float: left;
  }
  .label11{
    width: 40%;
    float: left;
    margin: 0.5rem;
}
  .label2{
    width: 25%;
    float: left;
}
.label3{
    width: 95%;
    float: left;
}
.label4{
    width: 50%;
    float: left;
}
.label5{
    width: 35%;
    float: left;
}
.label6{
    width: 95%;
    float: left;
}
.label7{
    width: 80%;
    float: left;
}

.trashDiv{
    float: right;
}

  .labeldescription{
      margin-top: 1rem;
      padding-left: 5vw;
      padding-right: 5vw;
  }


.table{
    display: table;
    width: 100%;
    left: 0;
    top: 0;
    padding: 4%;
    
}

.input{
    float: left;
}

.img1{
    width: 100%;
    height: 100%;
    border-radius: 1rem 0rem 0rem 0rem;

}

.three{
    width: 69%;
    float: left;
    display: table-cell;
    background-color:  rgba( 144,145,137,1);
    color: white;
    height: 40vh;
    font-size: 150%;
    padding: 1%;
    border-radius: 0rem 1rem 1rem 0rem;

}

.two{
    width: 30%;
    float: left;
    display: table-cell;
    background-color:  rgba(104,154,153,1);
    height: 40vh;
    border-radius: 1rem 0rem 0rem 0rem;
}


.four{
    width: 30%;
    float: left;
    display: table-cell;
    background-color:  rgba(104,154,153,1);
    padding: 1%;
    color: white;
    font-size: 1.5rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.four2{
    width: 30%;
    float: left;
    display: table-cell;
    padding: 1%;
    margin-left:  4.5%;
    
}

.four3{
    width: 100%;
    float: left;
    display: table-cell;
}
.table1{
    display: table;
    width: 100%;
   
    
    
}

.tableCenter{
    display: table;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 106, 6);
    margin-bottom: 20px;
    border-radius: 1rem;
    box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.497);


}

.tableCenter:hover{
    display: table;
    width: 100%;
    text-align: center;
    background-color: rgb(243, 158, 101);
    margin-bottom: 20px;
    border-radius: 1rem;
    cursor: pointer;

}


.commentid{
    background-color:  rgba(104,154,153,1);
    color: white;
    width: 20%;
    float: left;
    display: table-cell;
    
    margin-bottom: 1rem;
    border-radius: 1rem 0rem 0rem 1rem;
    text-align: center;
}

.comment{
    background-color:  rgba( 144,145,137,1);
    color: white;
    width: 80%;
    float: left;
    display: table-cell;
    font-size: 125%;
    border-radius: 0rem 1rem 1rem 0rem;
}
.commentText{
    font-size: 1.5rem;
}
.comment:hover{
    background-color:  rgb(108, 108, 104);
    cursor: pointer;
}

.listHeaders{
    background-color: rgba(104,154,153,1);
    text-align: center;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
}

#box{
 box-shadow: 0 2vw 4vw 0 rgba(104,154,153,1), 0 2vw 4vw 0 rgba(104,154,153,1);
 margin-bottom: 4vw;
 padding: 3%;
 background-color: white;
}

#card{
    text-align: center;
}


.commentBox{
    width: 100%;
    height: 15vh;
}

label{
    font-weight: bold;
}

.modals{
    position: fixed;
    width: 46rem;
    height: 42rem;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
    border-radius: 2.5rem;
    border: solid black 5px
    
  }

  .modals2{
    position: fixed;
    width: 53rem;
    height: 37rem;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
    border-radius: 2.5rem;
    border: solid black 5px
    
  }

  .modals3{
    position: fixed;
    width: 55rem;
    height: 37rem;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
    border-radius: 2.5rem;
    border: solid black 5px;
    padding: 0.5rem;
    
  }
.homeButton{
  float: right;
  margin-right: 1rem;
}

  .headerModal{
    width: 80%;
    float: left;
    display: table-cell;
    background-color:  rgba(104,154,153,1);
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    border-radius: 2.2rem 0rem 0rem 0rem;
    

}

.bodyModal{
    padding: 1rem;
}

.closes{
    width: 20%;
    float: left;
    display: table-cell;
    background-color:  red;
    font-size: 1.5rem;
    height: 3rem;
    text-align: center;
    color: white;
    border-radius: 0 2.1rem 0rem 0rem;
    
}

.closes:hover{
    cursor: pointer;
    background-color:  rgba(255, 0, 0, 0.571);
}


.imgDog{
    height: 15rem;
    width: 100%
}

#p1{
    width: 15rem;   
}
#p2{
    width: 5rem;   
}
#p3{
    width: 40rem;   
}
#p4{
    width: 20rem;   
}
#p5{
    width: 15rem;   
}
#p6{
    width: 40rem;   
}



@media only screen and (max-width: 1450px) {

    .commentid{
        background-color:  rgba(104,154,153,1);
        color: white;
        width: 20%;
        height: 6rem;
        float: left;
        display: table-cell;
        font-size: 125%;
        margin-bottom: 1rem;
        border-radius: 1rem 0rem 0rem 1rem;
    }
    
    .comment{
        background-color:  rgba( 144,145,137,1);
        color: white;
        width: 80%;
        height: 6rem;
        float: left;
        display: table-cell;
        font-size: 125%;
        border-radius: 0rem 1rem 1rem 0rem;
    }

    .commentText{
        font-size: 1.3rem;
    }

}

@media only screen and (max-width: 1200px) {
    .commentText{
        font-size: 1.2rem;
    }
    .modals2{
        height: 39rem;
        
      }
}

@media only screen and (max-width: 1000px) {

    .commentText{
        font-size: 0.9rem;
    }
    .modals2{
        width: 45rem;
        
      }

      .modals3{
        width: 45rem;
      }

      .label7{
        height: 0.3rem;
    }

    #p1{
        width: 10rem;   
    }
    #p2{
        width: 4rem;   
    }
    #p3{
        width: 35rem;   
    }
    #p4{
        width: 15rem;   
    }
    #p5{
        width: 10rem;   
    }
    #p6{
        width: 35rem;   
    }
    .commentBox{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 800px) {
    .commentText{
        font-size: 0.8rem;
    }
 
    .modals{
        width: 39rem;
        
      }
    .modals2{
        width: 35rem;
        
      }
      .modals3{
        width: 35rem;
      }
      #p1{
        width: 10rem;   
    }
    #p2{
        width: 4rem;   
    }
    #p3{
        width: 30rem;   
    }
    #p4{
        width: 15rem;   
    }
    #p5{
        width: 10rem;   
    }
    #p6{
        width: 30rem;   
    }
    .commentBox{
        font-size: 0.8rem;
    }

    
    @media only screen and (max-width: 600px) {
        .commentText{
            font-size: 0.8rem;
        }
     
        .modals{
            width: 25rem;
            
          }
        .modals2{
            width: 25rem;
            
          }
          .modals3{
            width: 25rem;
          }
          #p1{
            width: 10rem;   
        }
        #p2{
            width: 4rem;   
        }
        #p3{
            width: 20rem;   
        }
        #p4{
            width: 12rem;   
        }
        #p5{
            width: 10rem;   
        }
        #p6{
            width: 20rem;   
        }
        .commentBox{
            font-size: 0.8rem;
        }

        #dogHide{
            display: none;
        }
    }
    @media only screen and (max-width: 500px) {
        .commentText{
            font-size: 1.2rem;
        }
        .two{
            width: 100%;
            border-radius: 1rem 1rem 0rem 0rem;
        }

        .img1{
            border-radius: 1rem 1rem 0rem 0rem;
        
        }
        .three{
            width: 100%;
            border-radius: 0rem 0rem 0rem 0rem;
        }
        .four{
            width: 100%;
            border-radius: 0rem 0rem 1rem 1rem;
        }
        .four2{
            width: 45%;
        }
    }


    @media only screen and (max-width: 400px) {
       
     
        .modals{
            width: 20rem;
            
          }
        .modals2{
            width: 20rem;
            
          }

          .modals3{
            width: 20rem;
          }
          #p1{
            width: 8rem;   
        }
        #p2{
            width: 4rem;   
        }
        #p3{
            width: 18rem;   
        }
        #p4{
            width: 10rem;   
        }
        #p5{
            width: 9rem;   
        }
        #p6{
            width: 18rem;   
        }
        .commentBox{
            font-size: 0.8rem;
        }
    }
}