/* You can add global styles to this file, and also import other style files */
.body{
    margin: 0pt;
    background-image: url(./assets/img/stock/paw_background.jpg);
    background-size: 2rem;
}

.dogButton{
    background-color: rgba(104,154,153,1);
    border-radius: 20px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    font-size: 1.5rem;
    box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.497);
  }

  .dogButton:hover{
    background-color: rgb(82, 122, 121);
    cursor: pointer;
  }

  .dogInput{
    background-color: rgba(104,154,153,1);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    font-size: 1rem;
  }