.jumbotron {
   margin: 0;
   padding: 0;
 }
 
 .container{
     text-align: center;
     /* position: absolute; */
     padding: 0%;
      margin: 0%  
 }

.main{
  padding: 8%
}

  .thunderCat{
  align-content: right;
  float: right; 
   margin: 25%;
   padding-bottom: 5%;
   white-space: nowrap
 
 } 
 
 #logo {
  
   height: 35vw;
   width: 35vw;
   background-color: black;
   border-radius: 50vw; 
   /* position: relative; */
   margin-left: 27%;
   top: 5%;

  
   
 } 

 /* fade slider */
.slides {
  height:800px;
  overflow:hidden;
  position: absolute;
  width:900px;
  /* top:15%; */
  /* z-index: -10; */
  /* align-content: center; */
  /* padding: 2vh; */
  /* margin: 10vh */
  /* top: 50px */
  top: 20%

  

}

  
.slides ul {
  list-style:none;
  position:fill;
}
/* keyframes #anim_slides */
@-webkit-keyframes anim_slides {
  0% {
      opacity:0;
  }
  6% {
      opacity:1;
  }
  24% {
      opacity:1;
  }
  30% {
      opacity:0;
  }
  100% {
      opacity:0;
  }
}
@-moz-keyframes anim_slides {
  0% {
      opacity:0;
  }
  6% {
      opacity:1;
  }
  24% {
      opacity:1;
  }
  30% {
      opacity:0;
  }
  100% {
      opacity:0;
  }
}
.slides ul li {
  opacity:0;
  position:absolute;
  top:0;
  /* css3 animation */
  -webkit-animation-name: anim_slides;
  -webkit-animation-duration: 24.0s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: anim_slides;
  -moz-animation-duration: 24.0s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
}
/* css3 delays */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
  -webkit-animation-delay: 6.0s;
  -moz-animation-delay: 6.0s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
  -webkit-animation-delay: 12.0s;
  -moz-animation-delay: 12.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
  -webkit-animation-delay: 18.0s;
  -moz-animation-delay: 18.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(5) div {
  -webkit-animation-delay: 18.0s;
  -moz-animation-delay: 18.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(6) div {
  -webkit-animation-delay: 18.0s;
  -moz-animation-delay: 18.0s;
}
.slides ul li img {
  display:block;
  background-blend-mode: lighten
}
/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
  0% {
      left:100%;
      opacity:0;
  }
  5% {
      left:10%;
      opacity:1;
  }
  20% {
      left:10%;
      opacity:1;
  }
  25% {
      left:100%;
      opacity:0;
  }
  100% {
      left:100%;
      opacity:0;
  }
}
@-moz-keyframes anim_titles {
  0% {
      left:100%;
      opacity:0;
  }
  5% {
      left:10%;
      opacity:1;
  }
  20% {
      left:10%;
      opacity:1;
  }
  25% {
      left:100%;
      opacity:0;
  }
  100% {
      left:100%;
      opacity:0;
  }
}
.slides ul li div {
  background-color:#000000;
  border-radius:10px 10px 10px 10px;
  box-shadow:0 0 5px #FFFFFF inset;
  color:#FFFFFF;
  font-size:26px;
  left:10%;
  margin:0 auto;
  padding:20px;
  /* position:absolute; */
  top:50%;
  width:200px;
  /* css3 animation */
  -webkit-animation-name: anim_titles;
  -webkit-animation-duration: 24.0s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: anim_titles;
  -moz-animation-duration: 24.0s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
}

.image{
  width: 60rem;
  height: 26.5rem;
  background-image: rgba (0,0,0,0.5);
  /* z-index: 0;
  background-blend-mode: lighten;
  opacity: 0.5; */
  margin-right: 25px;
}

@media screen and (max-width: 480px) {
  image {
    width: 40rem;
  height: 26.5rem;
  background-blend-mode: lighten;
  }
}

/* .about{
  text-align: center;
  color: black;
  position: relative;
  text-align: right;
  padding: 2vh;

} */

/* .about{ */
  /* text-align: center;  */
  /* position: relative; */
  /* text-align: right; */
  /* padding: vh; */
  /* float: right */
  /* left: 10px */
  /* width: 900px;
  left: 50px;
  float: left; */
/* } */

.contain{
  width: 80%;
  margin-left: -2rem
  /* margin: 20% */
}

/* .statement{
  font-size: 3vh;
  z-index: 5;
  position:absolute;
  text-align: right;
  border: 500px;
margin-bottom: 5rem
} */

.col-6{
  padding: 0px;
  grid-column: 2;
  /* text-align: right */
  /* left: 50px */
  font-size: 2vh;
  /* position: relative; */
  /* margin: -10px */
 /* width: 900px; */
 width: 800px;
    /* float: left; */
    display: table-cell;
    float: left;
    align-self: auto;
    
}

.row{
width: 100%;
/* margin-right: 20px */
text-align: center;
}


/*2nd slideshow*/


