.jumbotron {
   margin: 0;
   padding: 0;
 }
 
 .container{
     text-align: center
     
 }
 
 #logo {
  
   height: 35vw;
   width: 35vw;
   background-color: black;
   border-radius: 17.5vw;
   
 }