<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <div class="box">
          <div class="inner">
            <span>Dog Paws</span>
          </div>
          <div class="inner">
            <span>Dog Paws</span>
          </div>
        </div>
    <br>
    <br>
    <br>
    <img id="logo" src="../../assets/img/stock/dl.png" alt="" height="50%" width="50%">
  </div>


  <div class="slides">
        <ul> <!-- slides -->
            <li><img  class="image" src="../../assets/img/stock/1earUp-dog.jpeg" alt="image01" />
            </li>
            <li><img class="image" src="../../assets/img/stock/bluepit.jpg" alt="image02" />
            </li>
            <li><img class="image" src="../../assets/img/stock/english-bulldog.jpg" alt="image03" />
            </li>
            <li><img class="image" src="../../assets/img/stock/grey-dog.jpeg" alt="image04" />
        </ul>
    
    </div>




    <div class="about">
      <h1 class="a1">About</h1>
      <br>
      <h2> 
        We are a worldwide dog breeding web and sale site designed to bring dog owners who wish to breed from their pets together. 
        At DogPaws you can view profiles and breeds of other dogs or puppies before you make the decision.  If you are 
        looking to purchase a dog just click Dog and select Forsale to view dogs and prices. Find your mate or pet today.
        
      </h2>

    </div>
 
</div>