.jumbotron {
    background-color: #100c24;
    /* background-image: url('../../assets/dl.png'); */
    height: 100vh;
   width: 100vw;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   margin: 0;
   padding: 0;
 }
 
 .container{
     text-align: center
 }
 
 #logo {
  
   height: 40rem;
   width: 40rem;
 
 }